* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: #f5f5f5;
  color: #333;
  padding-top: 180px;
}

/* هدر */
.header1 {
  background: #202d39;
  color: white;
  padding: 12px 20px;
  display: flex;
  align-items:center;
  justify-content: space-between;
  height: 150px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.icon{
  height: 150px;
  width: 150px;
  margin-right: 30px;
}

.h1{
  display: flex;
  margin: 0 auto;
}

.h2{
  text-align: center;
  margin-top: 20px;
}

h2{
  height: 50px;
  display: flex;
  margin-top: 50px;
  padding-top: 50px;
  justify-content: center;
  margin-bottom: 50px;
}

.h22{
  font-size: 25px;
}

.cart{
  cursor: pointer;
  position: relative;
  display:flex;
  align-items: center;
}

#cart-count,
.cart-count {
  background: crimson;
  color: white;
  border-radius: 50%;
  padding: 2px 8px;
  margin-right: 5px;
  font-size: 18px;
  display:inline-block;
}

/* لیست محصولات */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* کارت محصول */
.product {
  background: white;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.product img {
  width: 150px;
  height: 180px;
  object-fit: contain;
  border-radius: 6px;
}

.product h3 {
  margin: 10px 0;
  font-size: 18px;
}

.product p {
  font-size: 14px;
  margin: 0 0;
}

.product a {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: #2dbebe;
  color: white;
  border-radius: 5px;
  justify-content: center;
  margin-bottom: 10px;
}

.product button{ 
  margin-top: 10px;
  align-items: center;
  border:#202d39;
  background: #202d39;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 10px;
  
}


/* فوتر */
.footer {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}

/* صفحه جزئیات محصول */
#product-detail{
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  direction: rtl;
}

.product-images{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.product-images img {
  width: 150px;
  height: 135px;
  object-fit: cover;
  border:1px solid #666;
  border-radius: 6px;
  cursor:pointer;
}

.product-info h2{
  margin-bottom: 30px;
}

.product-info p{
  margin-bottom: 8px;
  line-height: 1.8;
}

#product-detail button{
  margin-top: 15px;
  padding: 10px 10px;
  background-color:  #202d39;
  height: 50px;
  width:250px;
  color: white;
  font-family:tahoma;
  font-size: 15px;
  cursor: pointer;
}

/* صفحه سبد خرید */
.cart-page {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

.cart-item {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 15px;
  align-items: center;
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.cart-item h4 {
  margin: bottom 30px;;
}

.cart-item p{

  padding-left: 60px;
  display:flex;
  justify-content: center;
  

}


.remove-btn {
  padding: 6px 10px;
  background: crimson;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-btn {
  margin-top: 15px;
  padding: 10px 20px;
  background: #2dbebe;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* ریسپانسیو */
@media (max-width: 768px) {
  #product-detail {
    grid-template-columns: 1fr;
  }

  .cart-item {
    grid-template-columns: 1fr;
    text-align: center;
  }

  body {
    padding-top: 160px;
  }
}
